<!DOCTYPE HTML>
<html lang="AR_ES" ng-app>
	<head>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <meta charset="UTF-8"/>
		 <title>OnTrack</title>
		 <!-- Bootstrap -->
    	 <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    	 <link href="css/bootstrap-responsive.css" rel="stylesheet">
    	 
    	 <script src="js/jquery.js"></script>
    	 <script src="js/bootstrap.js"></script>
    	 
    	 <!-- CSS  -->
    	 <link rel="css/global.css" rel="stylesheet" />
    	 
    	 <!-- Angular JS -->
    	 <script src="angularjs/angular.js"></script>
    	 
    	  <!-- Search Issue JS -->
    	 <script src="js/my-issues.js"></script>

	</head>
	
	<body ng-controller="MyIssuesController">
	
		<div class="container">
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="home.html">OnTrack</a>
			    <ul class="nav">
			      <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      Proyectos
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a href="create-project.html">Crear Proyecto</a></li>
				      <li><a href="my-projects.html">Mis Proyectos</a></li>
				    </ul>
				  </li>
			      <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      Issues
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a href="create-issue.html">Crear Issue</a></li>
				      <li><a href="search-issues-filter.html">Buscar Issues</a></li>
				    </ul>
				  </li>
				  <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      Documentación
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a target="_blank" href="http://www.manula.com/manuals/lopezoscar-job/ontrack/1/es/topic/proyectos">Documentación Online</a></li>
				      <li><a target="_blank" href="http://www.manula.com/media/07/811_830_858_es_1381265406.pdf">Descargar Manual de Usuario</a></li>
				      <li><a target="_blank" href="https://code.google.com/p/ontrack/">Repositorio del Proyecto</a></li>
				    </ul>
				  </li>
				  <li><a href="stats.html">Estadísticas</a></li>
				  
			    </ul>
			    
			    
			    
			     <ul class="nav pull-right" >
<!-- 			     	<li class="divider-vertical"></li> -->
<!-- 			     	<li class="dropdown" ng-controller="SkinController"> -->
<!-- 					    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
<!-- 					      Elige tu Skin -->
<!-- 					      <b class="caret"></b> -->
<!-- 					    </a> -->
<!-- 					    <ul class="dropdown-menu"> -->
<!-- 					      <li ng-click="updateSkin('default')"><a>OnTrack</a></li> -->
<!-- 					      <li ng-click="updateSkin('cerulean')"><a>Cerulean</a></li> -->
<!-- 					    </ul> -->
<!-- 				  	</li> -->
<!-- 				 <li class="divider-vertical"></li> -->
			     <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      {{currentUser.userName}}
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				     <li><a href="profile.html">Perfil</a></li>
				      <li class="divider-horizontal"></li>
				      <li><a href="logout">Salir</a></li>
				    </ul>
				  </li>
			     
			     
			     
			      
				  
				  
				  
				</ul>
			    
			    
			  </div>
			</div>			
			<!-- End Nav Bar -->
  		</div>
  		<!-- End Container -->
  		
  		<div class="container-fluid">
  			<div class="row-fluid">
  				<table class="table">
		  				<thead>
		  					<tr>
			  					<th>Issue ID</th>
			  					<th>Titulo</th>
			  					<th>Acciones</th>
		  					</tr>
		  				</thead>
		  				<tbody>
		  					<tr ng-repeat="i in issues">
			  					<td>{{i.id}}</td>
			  					<td>{{i.title}}</td>
			  					<td><input type="button" class="btn btn-primary" value="Editar" ng-click="viewIssue(i)"/></td>
		  					</tr>
		  				</tbody>
		  			</table>
  			</div>
  		
  		</div>
  		
  		
	</body>
	
</html>