<!DOCTYPE HTML>
<html lang="AR_ES" ng-app>
	<head >
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <meta charset="UTF-8"/>
		 
		 <link href="css/bootstrap.css" rel="stylesheet" media="screen" id="bootstrapLink">
		 
		 <!-- Bootstrap -->
    	 <title>OnTrack</title>
    	 <link href="css/bootstrap-responsive.css" rel="stylesheet">
    	 <script src="js/app.js"></script>
    	 <script src="js/jquery.js"></script>
    	 <script src="js/bootstrap.js"></script>
    	   
    	 <!-- JQuery UI -->
    	 <script src="jquery-ui/js/jquery-ui.js"></script>
    	 
		<link href="jquery-ui/css/smoothness/jquery-ui.css" rel="stylesheet"/>
    	 
    	 <!-- CSS  -->
    	 <link rel="css/global.css" rel="stylesheet" />
    	 
    	 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    	 
    	 <script src="angularjs/angular.js"></script>
    	 <script src="js/home.js"></script>
    	 <script src="js/menu-controller.js"></script>
    	 
    	 
    	 
    	 
    	 <script src="js/search-issue-filter.js"></script>
    	 <script src="js/angular-services.js"></script>
    	 <script src="js/profile_modal.js"></script>
    	 <script src="js/profile.js"></script>
    	 <script src="datatables/media/js/jquery.dataTables.js"></script>
    	 <script src="datatables/extras/TableTools/media/js/TableTools.js"></script>
    	 <script src="datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
		 <script type="text/javascript" src="js/charts.js"></script>
    	 <script src="js/search-projects-filter.js"></script>
    	 
    	 <script src="js/stats.js"></script>
    	 
    	 
    	 <link rel="stylesheet" type="text/css" href="datatables/media/css/jquery.dataTables.css">
    	 <link rel="stylesheet" type="text/css" href="datatables/extras/TableTools/media/css/TableTools.css">

	</head>
	
	<body >
		<div class="container" ng-controller="MenuController">
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="home.html">OnTrack</a>
			    <ul class="nav">
			      <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      Proyectos
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a href="create-project.html">Crear Proyecto</a></li>
				      <li><a href="my-projects.html">Mis Proyectos</a></li>
				    </ul>
				  </li>
			      <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      Issues
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a href="create-issue.html">Crear Issue</a></li>
				      <li><a href="search-issues-filter.html">Buscar Issues</a></li>
				    </ul>
				  </li>
				  <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      Documentación
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a target="_blank" href="http://www.manula.com/manuals/lopezoscar-job/ontrack/1/es/topic/proyectos">Documentación Online</a></li>
				      <li><a target="_blank" href="http://www.manula.com/media/07/811_830_858_es_1381265406.pdf">Descargar Manual de Usuario</a></li>
				      <li><a target="_blank" href="https://code.google.com/p/ontrack/">Repositorio del Proyecto</a></li>
				    </ul>
				  </li>
				  <li><a href="stats.html">Estadísticas</a></li>
				  
			    </ul>
			    
			    
			    
			    <ul class="nav pull-right" >
			     <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      {{currentUser.userName}}
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				     <li><a href="profile.html">Perfil</a></li>
				      <li class="divider-horizontal"></li>
				      <li><a href="logout">Salir</a></li>
				    </ul>
				  </li>
			     
				</ul>
			    
			    
			  </div>
			</div>			
			<!-- End Nav Bar -->
  		</div>
  		<!-- End Container -->
  	
  		
  		<div ng-init="parserResultToDataTableForIssues" class="container-fluid" ng-controller="SearchIssueFilterCtrl">
  			<div class="row-fluid">
  					<div align="center">
  						<legend>Mis Issues</legend>
  						<table id="issues">
		  				<thead></thead>
		  				<tbody></tbody>
		  				<tfoot>
							<tr>
								<th><input class="input-small" type="text" name="search_engine" placeholder="ID Issue" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_browser" placeholder="Titulo" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_engine" placeholder="Reporter" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_browser" placeholder="Owner" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_engine" placeholder="Estado Actual" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_browser" placeholder="Tipo de Issue" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_engine" placeholder="Proyecto" class="search_init" /></th>
							</tr>
						</tfoot>
		  			</table>
		  			
				</div>
  			</div>
  			<!-- End Row-Fluid -->
  		</div>
  		<!-- End Container Fluid -->
  		  		<div ng-init="parserResultToDataTableForIssues" class="container-fluid" ng-controller="SearchIssueFilterForProjectCtrl">
  			<div class="row-fluid">
  					<div align="center">
  						<legend>Buscar Issues</legend>
  						<table id="issuesProject">
		  				<thead></thead>
		  				<tbody></tbody>
		  				<tfoot>
							<tr>
								<th><input class="input-small" type="text" name="search_engine" placeholder="ID Issue" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_browser" placeholder="Titulo" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_engine" placeholder="Reporter" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_browser" placeholder="Owner" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_engine" placeholder="Estado Actual" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_browser" placeholder="Tipo de Issue" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_engine" placeholder="Proyecto" class="search_init" /></th>
							</tr>
						</tfoot>
		  			</table>
		  			
				</div>
  			</div>
  			<!-- End Row-Fluid -->
  		</div>
  		
  		
  			<div class="container-fluid"  ng-controller="HomeController">
  			<div class="row-fluid" align="center">
  				<legend>Proyectos</legend>
  				
  				
  				<div class="span6" ng-controller="SearchProjectsController">
				  	<table id="projects">
		  				<thead></thead>
		  				<tbody></tbody>
		  				<tfoot>
							<tr>
								<th><input class="input-small" type="text" name="search_engine" placeholder="ID Proyecto" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_browser" placeholder="Nombre" class="search_init" /></th>
								<th><input class="input-small" type="text" name="search_browser" placeholder="Administrador" class="search_init" /></th>
						</tfoot>
		  			</table>  			
  				</div>
  			
  			
  				<legend>Estadísticas</legend>
  				<div class="span3" ng-controller="StatsController">
  					<div id="status_div">
  					</div>
  				</div>
  				<div class="span3">
  					<div id="type_div">
  					</div>
  				</div>
  				<div class="span3">
  					<div id="issues_div">
  					</div>
  				</div>
  				
  			
  			</div>
  			
<!--   			<a href="#myModal" ng-hide="true" role="button" class="btn" data-toggle="modal">Launch demo modal</a> -->
 
			<!-- Modal -->
			<div ng-controller="ProfileModal" id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    
			    <h3 id="myModalLabel">Para utilizar el sitio es necesario que ingreses un nombre de usuario</h3>
			  </div>
			  	<div class="modal-body">
			   <form  ng-controller="ProfileController"  novalidate  class="form-horizontal" >
			  
			  <div class="control-group">
			    <label class="control-label" for="nick">Nombre de usuario</label>
			    <div class="controls">
			      <input type="text" id="nick" placeholder="Username" ng-model="currentUser.userName"  required>
			   	  <div class="alert alert-info" ng-show="userNameRequired">Nombre de usuario requerido</div>
			   	  <div class="alert alert-info" ng-show="userNameExist">Nombre de usuario ya existente</div>
			   	  
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="personName">Nombre</label>
			    <div class="controls">
			      <input type="text" id="personName" placeholder="Nombre" ng-model="currentUser.firstName">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="personLastName">Apellido</label>
			    <div class="controls">
			      <input type="text" id="personLastName" placeholder="Apellido" ng-model="currentUser.lastName">
			    </div>
			  </div>
			
			<div class="modal-footer">
			      <span class="alert alert-info" ng-show="saveOk">Los datos se guardaron correctamente</span>
			    <button type="submit" class="btn btn-primary" aria-hidden="true"  ng-click="saveUser(currentUser)" class="btn">Guardar</button>
			  </div>
			  
			  </form>
			
			  </div>
			  
			  
			  
			</div>
  			
  			
  		</div>
  		
	</body>
	
</html>