<!DOCTYPE HTML>
<html lang="es_AR" ng-app>
	<head>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <meta charset="UTF-8"/>
		 <title>OnTrack</title>
    	 <!-- CSS  -->
		 <!-- Bootstrap -->
		 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
		 
    	 <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    	 <link href="css/bootstrap-responsive.css" rel="stylesheet">
    	 <!-- JQuery and JQuery UI -->
    	 <link href="css/global.css" rel="stylesheet" />
    	 <!-- JS -->
    	 <!-- JQuery -->
    	 <script src="js/jquery.js"></script>
		 <script src="js/bootstrap.js"></script>
		 <link href="jquery-ui/css/smoothness/jquery-ui.css" rel="stylesheet"/>
		 
    	 <!-- Angular JS -->
    	 <script src="angularjs/angular.js"></script>

	
    	 
    	 <script src="js/stats.js"></script>
    	 <script src="js/charts.js"></script>
		
	 	 <!-- JQuery UI -->
    	 <script src="jquery-ui/js/jquery-ui.js"></script>


    	 
    	 <script>
    	 $('#chartsTab a').click(function (e) {
		  	  e.preventDefault();
		  	  $(this).tab('show');
		  	})
		
		$(function() {
		    $( "#from" ).datepicker({
		      defaultDate: "+1w",
		      changeMonth: true,
		      numberOfMonths: 3,
		      onClose: function( selectedDate ) {
		        $( "#to" ).datepicker( "option", "minDate", selectedDate );
		      }
		    });
		    $( "#to" ).datepicker({
		      defaultDate: "+1w",
		      changeMonth: true,
		      numberOfMonths: 3,
		      onClose: function( selectedDate ) {
		        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
		      }
		    });
		  });
		  	
		</script>
    	 
   </head>
   <body ng-controller="StatsController">
   		<div class="container">
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="home.html">OnTrack</a>
			    <ul class="nav">
			      <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      Proyectos
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a href="create-project.html">Crear Proyecto</a></li>
				      <li><a href="my-projects.html">Mis Proyectos</a></li>
				    </ul>
				  </li>
			      <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      Issues
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a href="create-issue.html">Crear Issue</a></li>
				      <li><a href="search-issues-filter.html">Buscar Issues</a></li>
				    </ul>
				  </li>
				  <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      Documentación
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a target="_blank" href="http://www.manula.com/manuals/lopezoscar-job/ontrack/1/es/topic/proyectos">Documentación Online</a></li>
				      <li><a target="_blank" href="http://www.manula.com/media/07/811_830_858_es_1381265406.pdf">Descargar Manual de Usuario</a></li>
				      <li><a target="_blank" href="https://code.google.com/p/ontrack/">Repositorio del Proyecto</a></li>
				    </ul>
				  </li>
				  <li><a href="stats.html">Estadísticas</a></li>
			    </ul>
			    
			       <ul class="nav pull-right" >
				     <li class="dropdown">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					      {{currentUser.userName}}
					      <b class="caret"></b>
					    </a>
					    <ul class="dropdown-menu">
					     <li><a href="profile.html">Perfil</a></li>
					     <li><a href="about.html">Acerca de OnTrack</a></li>
					      <li class="divider-horizontal"></li>
					      <li><a href="logout">Salir</a></li>
					    </ul>
					  </li>
				</ul>
			    
			  </div>
			</div>			
			<!-- End Nav Bar -->
			
		</div>	
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
				

				
				<div class="span12">
				
				<legend>Estadísticas</legend>
				<ul class="nav nav-tabs" id="chartsTab">
				  <li><a href="#projects" data-toggle="tab">Proyectos</a></li>
				  <li><a href="#issues" data-toggle="tab">Issues</a></li>
				</ul>
				
				<div class="tab-content">
				  <div class="tab-pane active" id="projects">
				  		<div class="span12">
				  			  <select ng-model="selectedProject" ng-options="p.name for p in projects" ng-change="updateCharts()">
								<option value='' disabled selected style='display:none;'>Elegí un proyecto</option>
		 					  </select>
		 					  <h1 align="center">Total de Issues: {{issuesBySelectedProject.length}} </h1>
				  		</div>
						<div class="span12"> 					  
	 					  	<div class="span6">
		  						<div id="status_div">
			  					</div>
			  				</div>
			  				<div class="span6">
			  					<div id="type_div">
			  					</div>
			  				</div>
			  				
		  				</div>
		  				
		  				<div class="span12">
				  			<select ng-show="isProjectLoaded" ng-model="selectedIssueType" ng-options="it.description for it in issueTypesList " ng-change="updateCharts()">
								<option value='' disabled selected style='display:none;'>Filtra por Tipo de Issue</option>
		 					</select>		 					
							<div class="span12">
		 						<div id="issues_type_status_div"></div>
		 					</div>	
				  		</div>
		  				
				  </div>
				  
				  <div class="tab-pane" id="issues">
				  	<h1 align="center">Total de Issues: {{issues.length}} </h1>
				  	<div class="span12">
					  	<div class="span4">
		  					<div id="issues_status_div">
		  					</div>
		  				</div>
		  				<div class="span4">
		  					<div id="issues_type_div">
		  					</div>
		  				</div>
		  				<div class="span4">
		  					<div id="cant_issues_div">
		  					</div>
		  				</div>
	  				</div>
	  				
	  				<div class="span12">
  						  <select ng-model="selectedProject" ng-options="p.name for p in projects" ng-change="updateCharts()">
							<option value='' disabled selected style='display:none;'>Elegí un proyecto</option>
	 					  </select>
	  				</div>
	  				
	  				<div class="span12">
	  					<div class="span4">
		  					<div id="issues_status_div_for_issues_tab_on_selectedProject">
		  					</div>
		  				</div>
		  				<div class="span4">
		  					<div id="issues_type_div_for_issues_tab_on_selectedProject">
		  					</div>
		  				</div>
	  				</div>
	  				
	  				
	  				<div class="span12">
				  			<select ng-model="selectedIssueType" ng-options="it.description for it in issueTypesList " ng-change="updateCharts()">
								<option value='' disabled selected style='display:none;'>Filtra por Tipo de Issue</option>
		 					</select>
							
				  	</div>
				  	<div class="span12">
		 					<div id="issues_type_status_div_for_issue"></div>
		 			</div>	
	  				
				  </div>
				  
				  <div class="tab-pane" id="burndown">
				  	<div class="span12">
				  		
				  		<h3>Elige un proyecto</h3>
				  		<select ng-model="selectedProyectForBB" ng-options="p.name for p in projects" ng-change="showDateRange()">
						 	<option value='' disabled selected style='display:none;'>Elegi un proyecto</option>
						 </select>
						 
				  		<h3 ng-show="showDateRange">Elige un rango de fechas y genera los gráficos</h3>
				  		<form ng-show=showDateRange  class="form-horizontal" novalidate>
						  <div class="control-group">
						    <label class="control-label" for="fromDate">Desde</label>
						    <div class="controls">
						  		<input id="from" type="text" ng-model="fromDate" class="datepicker" placeholder="10/02/2014" required>
						  		<span class="alert alert-error" ng-show="fromDateEmpty">Fecha Desde Vacía</span>
						    </div>
						  </div>
						  <div class="control-group">
						    <label class="control-label" for="toDate">Hasta</label>
						    <div class="controls">
					  			<input id="to" type="text" ng-model="toDate" class="datepicker" placeholder="10/03/2014" required>		    
						  		<span class="alert alert-error" ng-show="toDateEmpty">Fecha Hasta Vacía</span>
						    </div>
						  </div>
						  <div class="control-group">
						    <div class="controls">
						      <button type="submit" class="btn btn-primary" ng-click="createBBChart()">Graficar</button>
						      <span class="alert alert-error" ng-show="fromDateAfterToDate">La fecha desde no puede ser posterior a la fecha hasta</span>
						    </div>
						  </div>
						</form>
				  	





		 			</div>
				  </div>
				  
				</div>
				<!-- End Tab Content -->
				</div>
				
				
  				
				
				</div>
			</div>
		</div>
		
		
</body>
</html>
